@{
    ViewData["Title"] = "Get To Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Get to know Joel Here!!!</p>

<div class="link-container">
    <a href="https://www.qwcomedy.com/" class="link" target="_blank">Visit Quick Wits Comedy</a>
</div>

<div class="link-container">
    <a href="https://baconsale.com/" class="link" target="_blank">Visit Baconsale</a>
</div>

<div class="image-container">
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/BaconsaleKate.jpg" alt="Baconsale">
    </a>
</div>