@{
    ViewData["Title"] = "Movie Manager";
}

<div class="text-center" style="width: 90%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 class="display-4">Welcome to Joel's Movie Manager!</h1>

    <button type="button" onclick="window.location.replace('/Home/AddMovie/')">Add Movie</button>
    
    <table style="width: 100%;">
        <thead>
        <tr>
            <th>Movie Name</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Plex</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
